html, body {
    margin: 0;
}
body {
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #A7D3DC;
    padding: 10px 20px 0px;
}

.itens-list {
    list-style: none;
    margin-bottom: 15px;
}

.links:hover {
    cursor: pointer;
    box-shadow: 10px 10px 50px 0px rgba(255,255,255,1);
    background-color: rgba(255, 255, 255, .1);
}

.links {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bolder;
}

.header {
    background-color: rgb(5, 108, 108);
    height: 200px;    
}

.header > img {
    width: 100%;
    height: 100%;
}

.content {
    background-color: white;
    height: 500px;
    padding: 20px;
}

#title {
    color: rgb(167, 211, 220);
    -webkit-text-stroke: 1px rgb(167, 211, 220);
    text-decoration: underline;
}

mark {
    background-color: rgba(167, 211, 220, .40);
}

table {
    background-image: linear-gradient(to right, #C1F4FD, #FFFFFF);
    width: 700px;
    height: 150px;
    border-collapse: collapse;
    text-align: center;
}

.header-table, .th-header-table, .data-table {
    border: 1px solid black;
}

.header-table {
    font-size: 1.25em;
}

.th-header-table {
    text-align: left;
}

iframe {
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

form {
    background-image: linear-gradient(to bottom, #C1F4FD, #FFFFFF);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
    width: 500px;
    border-radius: 15px;
    position: absolute;
    right: 20%;
    bottom: 30%;
    border: 1px solid black;
}

h2 {
    text-align: center;
}

fieldset {
    border: none;
}

button {
    font-size: 15px;
    font-weight: bolder;
    float: right;
    margin: 10px;
}

.campos {
    width: 380px;
    float: right; 
}

.footer {
    background-color: rgb(255, 255, 255);
    height: 50px;
    position: relative;
}

.footer > div {
    padding: 0px 15px;
    position: absolute;
    bottom: 5px;
    right: 0px;
}